{% extends "account/base_auth.html" %}

{% block title %}{% app_t 'password_updated' %}{% endblock %}
{% block eyebrow %}{% app_t 'account_recovery' %}{% endblock %}
{% block heading %}{% app_t 'password_updated_heading' %}{% endblock %}
{% block intro %}{% app_t 'password_updated_intro' %}{% endblock %}
{% block panel %}
  <a href="{% url 'account_login' %}" class="mono-font inline-block rounded-xl px-4 py-3 text-xs uppercase tracking-[0.2em] text-white transition hover:opacity-90 [background:var(--text-main)]">
    {% app_t 'sign_in' %}
  </a>
{% endblock %}
