{% extends "account/base_auth.html" %}

{% block title %}{% app_t 'password_changed' %}{% endblock %}
{% block eyebrow %}{% app_t 'account_settings' %}{% endblock %}
{% block heading %}{% app_t 'password_changed_heading' %}{% endblock %}
{% block intro %}{% app_t 'password_changed_intro' %}{% endblock %}
{% block panel %}
  <a href="/" class="mono-font inline-block rounded-xl border px-4 py-3 text-xs uppercase tracking-[0.2em] transition [border-color:var(--border-subtle)] [color:var(--text-main)] hover:[border-color:var(--border-strong)]">
    {% app_t 'return_to_documents' %}
  </a>
{% endblock %}
