{% extends "account/base_auth.html" %}

{% block title %}Password Updated{% endblock %}
{% block eyebrow %}Account recovery{% endblock %}
{% block heading %}Your password has been updated.{% endblock %}
{% block intro %}You can now sign back in and return to your drafting work with the new password.{% endblock %}
{% block panel %}
  <a href="{% url 'account_login' %}" class="mono-font inline-block rounded-xl px-4 py-3 text-xs uppercase tracking-[0.2em] text-white transition hover:opacity-90 [background:var(--text-main)]">
    Sign in
  </a>
{% endblock %}
