{% extends "account/base_auth.html" %}

{% block title %}Password Changed{% endblock %}
{% block eyebrow %}Account settings{% endblock %}
{% block heading %}Your password has been changed.{% endblock %}
{% block intro %}Your account is still active. Use the updated password the next time you sign in or join a shared draft from another device.{% endblock %}
{% block panel %}
  <a href="/" class="mono-font inline-block rounded-xl border px-4 py-3 text-xs uppercase tracking-[0.2em] transition [border-color:var(--border-subtle)] [color:var(--text-main)] hover:[border-color:var(--border-strong)]">
    Return to documents
  </a>
{% endblock %}
